.wrapper-main{
    height: 490px;
    width: 540px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position:relative;

    background-image: url(../../../assets/women/Rectangle1.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    overflow: hidden;
}


.main-slider{

}

.main-banner{
    width: 289px;
    height: 100px;
    position: absolute;

    top: 195px;
    left: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:white;
    z-index: 1;
    
}
