.OTopBar{
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 11px;
    padding:0 85px ;
}

.infoSocial{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}